* {
  box-sizing: border-box;
}
html, body, div, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}

/*Header*/
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 30px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 50px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}



.header-right {
  float: right;
  
}

a {
  color: #ffffff;
  text-decoration: none;
}

/* Hero section */
.hero {
  display: flex;
  height: 400px;
  width: 90%;
  margin-top: 5px;
  background-image: url("img-2.jpg");
  background-size: cover;
  background-position: center;
  margin-right: 20px;
margin-left: 5px;
  
  
}

/*About me*/
#flex-container{
  display: flex;
  
}

#left{
  float: left;
  flex:0 0 14%;
  padding: 5px;
  font-size: 14px;
  }

  
  
#right{
  flex: 1;
 text-align: justify;
  font-size: 20px;
padding-right: 10%;

}
.work1{

  display: flex;
  flex-flow: row wrap;
  
  
  background-size: cover;
  justify-content:safe;
  padding-left: 350px;
  padding-right: 100px;
  margin-right: 25px;
  margin-left: 50px;


}



/*Portfolio Container*/
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 5px;
  column-gap: 5px;
}
.image-0{
  flex:0 0 100%;
  height: 480px;
  width: 75%;
  margin-top: 5px;
  background-image: url("fashion-0.png");
  background-size: cover;
  background-position: center;
 margin-left: 150px;
 margin-right: 80px;
  }
  
.image-1{
  flex:0 0 42%;
  height: 380px;
  width: 30%;
  margin-top: 5px;
  background-image: url("fashion-1.png");
  background-size: cover;
  background-position: center;

  
}
.image-2{
  flex:0 0 42%;
  
  height: 380px;
  width: 30%;
  margin-top: 5px;
  background-image: url("fashion-5.png");
  background-size: cover;
  background-position: center;
 
}
.image-3{
  flex:0 0 42%;
  height: 380px;
  width: 30%;
  margin-top: 5px;
  background-image: url("fashion-3.png");
  background-size: cover;
  background-position: center;
 
}
.image-4{
  flex:0 0 42%;
  height: 380px;
  width: 30%;
  margin-top: 5px;
  background-image: url("fashion-4.png");
  background-size: cover;
  background-position: center;

}
/*  */



#work{
  display: flex;
  padding: 10px;
  margin-left: 50px ;
  margin-top: 10px;
 flex-flow: row wrap;
 background-position: center;
 text-align: center;
 font-size: 30px;
}
#work:after {
  content: "";
  background-color: #000;
  position: absolute;
  width: 5px;
  height: 100px;
  top: 10px;
  left: 50%;
  display: block;
}

@media screen and (orientation:landscape)
            {
                ul {
                list-style: none;
                display: flex;
                font-size: 25px;
            }
            li {
                background-color: black;
                color:white;
                padding: 5px;
                width: 200px;
                border:1px solid black;
                border-radius: 20px;
                margin-right: 20px;
                font-size: 23px;
                transition: 2s;
            }
            li:hover {
                background-color: black;
                color:white;
                cursor:grab;
                font-size: 30px;
                transition:2s;
            }
            }
            @media screen and (orientation: portrait)
            {
                ul {
                list-style: none;
                font-size: 25px;
            }
          }
            li {
        
                background-color: black;
                color:white;
                padding: 5px;
                width: fit-content;
                height: fit-content;
                border:1px solid black;
                border-radius: 20px;
                margin-bottom: 20px;
                font-size: 35px;  
                transition: 2s;
                text-align: center;
            }
            /*footer*/
            footer {
              display: flex;
              justify-content: space-around;
              height: auto;
              width: auto;
            }
            
            .footer__headline {
              font-weight: bolder;
              font-family: 'Helvetica';
              text-align: center;
            }
            
            .footer__list {
              font-family: 'Helvetica';
              list-style: none;
              padding: 0px;
              margin: 0;
              justify-content: space-between;
              width: fit-content;
            }
